@import "bootstrap-sprockets";
@import "bootstrap";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

// body.custom-padding {
//     padding: 0 0rem;
// }

.bg-light-blue {
    background-color: #e0f0ff;
    /* この色は薄く淡い青色ですが、必要に応じて変更できます */
}


.large-text {
    font-size: 20px;
}